* {
    padding: 0px;
    margin:0px;
    box-sizing: border-box;

}
.sec1 {
    background: url("img/fondo-index.jpg");
    background-position: bottom center;
    background-attachment: fixed;
}
/* cambia el espacio del spacio donde va la imagen  */
section {
    width: 100%;
    height: 100vh;
}
.contain {
    width: 100%;
    height:100px;
    background: white;
    text-align: center;

    
    
}
/* .contain p {
    font: size 2.5em;
    font-family: "late";
    line-height: 200px;
}
 */
/* ......barra............. */
.rrss {
    padding-left:200px;
    padding-right:200px;
    background-color: #b02c2c;
    height:30px;
    i {
        margin-top:5px;
    
    }
}


/* el nav para poner el menu en styky */
nav {
    position: sticky;
    top: 0;
    padding: 0px;
}

/* ............style.....jim....paguina index paralax................. */
.menu{
    display: flex;
    justify-content: center;
}
/* .........menu ............. */
body{
    background-color: antiquewhite;
}

ul.redes {
    display: flex;
    list-style: none;
    gap: 15px;
    padding: 10px;
    margin: 0;
    background-color: #3d3d3d;
    justify-content: center;
}
ul.redes li a:hover {
    transform: scale(1.2);
}
ul.redes li a {
  text-decoration: none; /* Sin subrayado */
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family:Impact;
  transition: 0.3s ease;
}
.productos, .tabla-stock, .lista {
    padding: 2rem;
    background-color: #f7f7f7;
    margin: 2rem auto;
    max-width: 1200px;
    border-radius: 10px;
}
  
.titulo-seccion {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
  
.contenedor-articulos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}
  
.articulo {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
  
.articulo:hover {
    transform: scale(1.05);
}
  
.articulo img {
    max-width: 100%;
    border-radius: 8px;
}
.precio {
    display: block;
    font-weight: bold;
    color: #3a3838;
    margin-top: 0.5rem;
}
/* <!-- Valoraciones de la pagina con estrellas --> */
p.clasificacion {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  p.clasificacion input {
    position: absolute;
    top: -100px;
  }
  
  p.clasificacion label {
    float: right;
    color: #333;
  }
  
  p.clasificacion label:hover,
  p.clasificacion label:hover ~ label,
  p.clasificacion input:checked ~ label {
    color: #dd4;
  }